td,th{color: white;}
    table{background-color: rgb(25, 67, 105);}
    .button{background-color: orangered;color:white;border-radius: 7px;width: 15%;}
    .buttons{text-align: center;}
    .Heading{font-size: larger;}
    
